html{
    font-size: 13pt;
}
body {
    background-color: #f7f7f7;
    color: #fff;
}
body, input, select, textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    border-radius: 2px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}
input[type="text"], input[type="password"], input[type="search"], select, button {
    height: 1.75rem;
}

/* header */
header {
    height: 60px;
    width: 100%;
    animation: none;
    position: absolute;
    background-color: rgba(53,53,53,1);
}
header .logo {
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding-top: 5px;
    position: absolute;
    top: 0;
}
header li{
    display: inline-block;
}
a {
    text-decoration: none;
}
header a{
    text-transform: uppercase;
    letter-spacing: 2px;

    text-decoration: none;
    color: white;
}

/* NAV */
.phone-nav{
    display: none;
}
.nav {
    position: absolute;
}
.nav-list {
    display: flex;
    margin-left: 70px;
}
.nav-item {
    margin: 16px;
    text-align: center;
}
.nav-item.is-active a{
    font-weight: bold;
}
.has-dropdown {
    position:relative;
    display: inline-block;
}
.has-dropdown:hover .nav-dropdown{
    display: block;
}
.has-dropdown:hover .has-dropdown a{
    font-weight: bold;
    font-size: x-large;
    width: 100%;
}
.nav-link {
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .25s ease;
}
.nav-link:hover{
    color: #a6a6a6;
}
.nav-left{
    width: 110px;
}
.nav-right{
    position:absolute;
    right: 0;
}
.nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: rgba(35,35,35,.55);
    z-index: 3;
    text-align: left;
}
.nav-dropdown ul{
    width: 100%;
}
.nav-dropdown li{
    width: 100%;
}
.nav-dropdown a{
    color:white;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.nav-dropdown a:hover{
    background-color: #070707;
}

/* main */
.main{
    padding: 60px 0 0;
    color: black;
    float: left;
    width: 100%;
}

/* aside */
aside {
    float:left;
    width:27%;
    box-sizing: border-box;
    background-color: white;
    margin: 15px 0 15px 15px;
    border-collapse: collapse;
}
aside a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
aside section {
    display: block;
    padding:15px 15px;
    border: 1px solid #a6a6a6;
    margin:10px;
}
    aside section a:hover{
        color: #a6a6a6;
    }
.search-by-title input{
    width: 75%;
}
.search-by-title button{
    width: 23%;
}

.main h1 {
        padding-bottom: 3px;
        border-bottom: 0.5px solid #a6a6a6;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        font-weight: bold;
    }
.search-by-title {}
    .search-by-title li {
        display: inline-block;
    }
    .search-by-title li input{

    }

/* article */
article {
    margin: 15px;
    padding: 15px 15px;
    background-color: white;
    float: right;
}
article ul{
    width:100%;
    padding-bottom: 10px;
}
article .select-row{
    border-bottom: 0.5px solid #a6a6a6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
article select {
    display:inline-block;
    width: 25%;
}
.default-op{
    color: #a6a6a6;
}
article option{
    font-weight: lighter;
}
article option:hover{
    background-color: #090909;
}
#filter-bt{
    width: 23%;
}

.grid {
    margin-top: 10px;
}
    .grid .row {
        width: 100%;
    }
        .grid .row > div {
            display: inline-block;
            box-sizing: border-box;
            width: 190px;
            height: 190px;
            overflow: hidden;
        }
        .grid img{
            height: 100%;
            object-fit: cover;
        }

.pagination-wrapper{
    width: 100%;
    margin-right: 0;
    padding: 20px 0;
}
.pagination ul{
    clear: both;
    padding: 0;
    text-align: center;
}
    .pagination-item{
        display: inline-block;
        margin: 0 10px;
    }
    .pagination-item a {
        display: block;
        line-height: 40px;
        padding: 0 10px;
        text-align: center;
        color: #b2b2b2;
    }
.pagination-item-current a{
    color: black;
    font-weight: bolder;
}

/* media */
@media(max-width: 450px){
    /* nav */
    nav > .nav-list {
        display: none;
    }

    .phone-nav {
        display: block;
        margin-left: 90px;
    }

    .nav-list {
        display: inline-block;
        margin: 15px;
    }

    .nav-list:hover {
        color: #a6a6a6;
    }

    .nav-list.account {
        float: right;
    }

    .nav-list a:nth-child(1):hover {
        color: #a6a6a6;
    }

    .phone-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(35, 35, 35, .55);
        z-index: 3;
        text-align: center;
    }

    .phone-nav .nav-list:hover .phone-dropdown {
        display: block;
    }

    .phone-dropdown .nav-item {
        margin: 0;
        padding: 16px;
    }

    .phone-dropdown li:hover {
        background-color: #070707;
    }

/*  aside */
    .hot-content,.hot-cities,.hot-countries{
        display: none;
    }
    aside{
        width: 100%;
        float: none;
        margin: 0;
    }
    .search-by-title {
        border: 0;
    }

/* article */
    article{
        width: 100%;
        float: none;
        margin: 0;
    }
        article select{
            width: 49%;
            margin: 3px 0;
        }
    #filter-bt {
        width: 49%;
        margin: 3px 0;
    }
    .grid .row > div{
        width: 49%;
    }

/* footer */
    .footer-social{
        display: none;
    }
    .footer-sitemap{
        display: none;
    }
    .footer-copyright{
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 10px 0 20px 0;
    }
    .footer-copyright p{
        text-align: center;
    }
}

