.main{
    margin: 0;
    padding: 60px 0 0;
    width: 100%;
}
#pic {
    width: 60%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
#pic img{
    height: 360px;
    object-fit: cover;
}
#pic h2{
    padding-bottom: 3px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#right-block{
    width: 38%;
    float: right;
}

#right-block section{
    border-radius: 2px;
    padding: 15px 15px;
    border: 1px solid #a6a6a6;
    margin: 20px 0;
}
    #right-block section h2{
        padding-bottom: 3px;
        border-bottom: 0.5px solid #a6a6a6;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        font-weight: bold;
    }

.like-block{

}
#like{
    width: 50%;
    color: red;
}

.like-num{
    display: inline-block;
    float: right;
    width: 45%;
}
.like-num li{
    display: inline-block;
    border: 0.7px solid #a6a6a6;
    padding: 0 20px;
    width: 48%;
    text-align: center;
}

@media(max-width: 450px){
    #pic {
        width: 100%;
    }
    #right-block{
        width: 100%;
    }
}