html{
    font-size: 13pt;
}
body {
    background-color: #f7f7f7;
    color: #fff;
}
body, input, select, textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    border-radius: 2px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}
input[type="text"], input[type="password"], input[type="search"], select, button {
    height: 1.75rem;
}
/* header */
header {
    height: 60px;
    width: 100%;
    animation: none;
    position: absolute;
    background-color: rgba(53,53,53,1);
}
header .logo {
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding-top: 5px;
    position: absolute;
    top: 0;
}
header li{
    display: inline-block;
}
a {
    text-decoration: none;
}
header a{
    text-transform: uppercase;
    letter-spacing: 2px;

    text-decoration: none;
    color: white;
}

/* NAV */
.phone-nav{
    display: none;
}
.nav {
    position: absolute;
}
.nav-list {
    display: flex;
    margin-left: 70px;
}
.nav-item {
    margin: 16px;
    text-align: center;
}
.is-active > a{
    font-weight: bold;
}
.has-dropdown {
    position:relative;
    display: inline-block;
}
    .has-dropdown .is-active{
        font-weight: bold;
    }
.has-dropdown:hover .nav-dropdown{
    display: block;
}
.has-dropdown:hover .has-dropdown a{
    font-weight: bold;
    font-size: x-large;
    width: 100%;
}
.nav-link {
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .25s ease;
}
.nav-link:hover{
    color: #a6a6a6;
}
.nav-left{
    width: 110px;
}
.nav-right{
    position:absolute;
    right: 0;
}
.nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: rgba(35,35,35,.55);
    z-index: 3;
    text-align: left;
}
.nav-dropdown ul{
    width: 100%;
}
.nav-dropdown li{
    width: 100%;
}
.nav-dropdown a{
    color:white;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.nav-dropdown a:hover{
    background-color: #070707;
}

/* main */
.main {
    color: black;
    background-color: white;
    margin: 90px 50px auto;
    float: left;
}
h1 {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    top: 7px;
    border-bottom: 0.8px solid #a6a6a6;
    margin: 0 20px;
}
article {
    padding: 30px;
}
    ul.pic-list {

    }
        li.pic-item {
            display: block;
            margin-bottom: 20px;
            box-sizing: border-box;
            height: 200px;
            overflow: hidden;
        }
            .pic-item img{
                width: 270px;
                display: inline-block;
                float:left;
                object-fit: cover;
                height: 200px;
            }
            .pic-item div{
                width: 70%;
                float: right;
                text-overflow: ellipsis;
            }
                .pic-item h2 {
                    font-weight: 400;
                    font-size: x-large;
                    position: relative;
                    top: -5px;
                    letter-spacing: 1.5px;
                }
                .pic-item form {
                    margin-top: 8px;
                }
                    .pic-item form input{
                        width: 47%;
                    }
                .pic-item input {
                    width: 150px;
                }
                .pic-item p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                }

.pagination-wrapper{
    width: 100%;
    margin-right: 0;
    padding: 20px 0;
}
.pagination ul{
    clear: both;
    padding: 0;
    text-align: center;
}
.pagination-item{
    display: inline-block;
    margin: 0 10px;
}
.pagination-item a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    color: #b2b2b2;
}
.pagination-item-current a{
    color: black;
    font-weight: bolder;
}

/* media */
@media(max-width: 450px){
    /* nav */
    nav > .nav-list {
        display: none;
    }

    .phone-nav {
        display: block;
        margin-left: 90px;
    }

    .nav-list {
        display: inline-block;
        margin: 15px;
    }

    .nav-list:hover {
        color: #a6a6a6;
    }

    .nav-list.account {
        float: right;
    }

    .nav-list a:nth-child(1):hover {
        color: #a6a6a6;
    }

    .phone-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(35, 35, 35, .55);
        z-index: 3;
        text-align: center;
    }

    .phone-nav .nav-list:hover .phone-dropdown {
        display: block;
    }

    .phone-dropdown .nav-item {
        margin: 0;
        padding: 16px;
    }

    .phone-dropdown li:hover {
        background-color: #070707;
    }
    /* main */
    .main {
        margin: 0;
        padding: 60px 0 0;
    }
    .pic-item img{
        width: 49%;
    }
    .pic-item div{
        width: 49%;
    }

    /* footer */
    .footer-social{
        display: none;
    }
    .footer-sitemap{
        display: none;
    }
    .footer-copyright{
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 10px 0 20px 0;
    }
    .footer-copyright p{
        text-align: center;
    }
}

